.env
__pycache__/
*.pyc
venv/
.venv/
atlas.db
atlas1.db
*.db
.DS_Store
Atlas AI
Submission.md
atlas_bot_final_access_control.zip
bot.zip
final_bot.zip
linux commands to access database.txt
features.txt
folder_structure.txt
railway connect.txt
suggestions.txt
suggestions1.txt
next implementation.txt
